.ant-carousel .slick-slide {
  text-align: center;
  height: 360px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-page-header {
  padding: 16px 0px
}


// .hide {
// width: 300px;
// overflow : hidden;
// text-overflow: ellipsis;
// display: -webkit-box;
// -webkit-line-clamp: 2;
// -webkit-box-orient: vertical;
// }
// .show {
// width: 300px;
// display: block;
// }
/* .muti:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: -0.1em;
  padding: 0 5px;
  background-color: #fff;
} */